header {
  display: block;
  text-align: left;
}

img {
  float: left;
  background-color: white;
  width: 600px;
  height: 200px;
}

body {
  border: 50px solid white;
}

.row-padding {
  content:"";
  display:table;
  clear:both}

.margin-top{
  margin-top:16px!important
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
